body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  background-color: rgb(67, 62, 121);
}

header {
  text-decoration: underline;
  font: oblique bold ;
  font-size: 150%;
  font-weight:  bolder;
  background-color: rgb(67, 62, 121);
  color: white;
  text-align: center;
  padding: 22px
}
h1 {
  margin: 0;
}

h2 {
  text-align: left;
  font: oblique bold 120% ;
  text-decoration: underline;
  margin: 0;
}
h3 {
  text-align: center;
  font: oblique bold 120% ;
  text-decoration: underline;
  margin: 0;
}


li{
  font-family: sans-serif;
  font-size: 120%;
  font-style: oblique;
  text-align: left
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130%;
  font-style: oblique;
  text-align: left
}
.contenido{
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 15px ;
  font-family: "cursive";
}
#img1{
  width:140px;
  height: 140px;
  border-radius: 12%;
  border:2px solid blue;
  float: left
}

#datos{
  background-color: rgb(22 , 25, 64);
}
#img2{
  width:180px;
  height: 150px;
  padding: 0 ;
  border-radius: 10%;
  border: 3px solid rgb(30, 69, 197);
  float: left
}
#img3{
  width:180px;
  height: 150px;
  padding: 0 ;
  border-radius: 10%;
  border: 3px solid rgb(30, 69, 197);
  float: left
}
#intereses{
  background-color: rgb(19, 20, 63);
}
#experiencia{
  background-color:rgb(22, 24, 65);
}
#educacion{
  background-color: rgb(22 , 25, 64);
}
#contacto{
  background-color: rgb(25, 29, 69);
}
a{
  color: rgb(133, 223, 218);
  font-family: sans-serif;
  font-size: 110%;
  font-style: oblique;
  text-align: center
}
ul{
  color: white;
  list-style:none;
  padding:0;
  font-family: sans-serif;
  font-size: 110%;
  font-style: oblique;
  text-align: center
}